.footer {
  padding-bottom: 40px;

  @media(min-width: 768px) {
    padding-bottom: 60px;

    &--mod {
      padding-top: 20px;
    }
  }

  &__container {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;

    @media(min-width: 768px) {
      width: max-content;
      margin-bottom: 0;
    }
  }
}