.about {
  padding-top: 88px;

  @media(min-width: 768px) {
    padding-top: 180px;
  }

  &__info {
    margin-bottom: 60px;

    @media(min-width: 768px) {
      margin-bottom: 80px;
    }

    & p,
    ul,
    ol,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      text-align: left;
      color: #000000;

      &:not(:last-child) {
        margin-bottom: 20px;
        // @media(min-width: 768px) {
        //   margin-bottom: 0px;

        // }
      }

    }

    & p,
    ul,
    ol {
      font-weight: 400;
      font-size: 28px;
      line-height: 39px;
      letter-spacing: 0em;

      @media(min-width: 768px) {
        font-size: 46px;
        line-height: 120%;
      }
    }

    & ul,
    ol {
      padding-left: 25px;

      @media(min-width: 768px) {
        padding-left: 50px;
      }
    }

    & h2 {
      font-size: 28px;
      line-height: 39px;

      @media(min-width: 768px) {
        font-size: 56px;
        line-height: 67px;
      }
    }

    & h3 {
      font-size: 26px;
      line-height: 39px;

      @media(min-width: 768px) {
        font-size: 54px;
        line-height: 67px;
      }
    }

    & h4 {
      font-size: 24px;
      line-height: 39px;

      @media(min-width: 768px) {
        font-size: 52px;
        line-height: 67px;
      }
    }

    & h5 {
      font-size: 22px;
      line-height: 39px;

      @media(min-width: 768px) {
        font-size: 50px;
        line-height: 67px;
      }
    }

    & h6 {
      font-size: 20px;
      line-height: 39px;

      @media(min-width: 768px) {
        font-size: 48px;
        line-height: 67px;
      }
    }
  }

  &__title {
    width: 100%;

    margin: 0 0 20px 0;
    padding: 0 0 38px 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    color: #000000;

    border-left: 1px solid #000000;

    @media(min-width: 600px) {
      margin-bottom: 40px;
      padding-left: 20px;

      font-size: 40px;
      line-height: 47px;
    }
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 40px;

    @media(min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    @media(min-width: 992px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__item {}

  &__img {
    position: relative;

    width: 100%;
    // max-width: 427px;

    margin-bottom: 20px;

    overflow: hidden;

    &::after {
      content: '';

      display: block;
      padding-bottom: 100%;
    }

    img {
      position: absolute;

      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;
    }
  }

  &__name {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
  }

  &__prof {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
  }
}