.category {
  &__list {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    transition: all 0.5s ease-in-out;
    @media(min-width: 768px) {
      transform: translate(24px,-119px);
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
  }

  &__item {

  }

  &__link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #000000;
    @media(min-width: 768px) {
      color: #FFFFFF;
      font-size: 22px;
    }

  }
}