.category {
  &__list {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    transition: all 0.5s ease-in-out;
    @media(min-width: 768px) {

    }
  }

  &__item {

  }

  &__link {


  }
}